<!DOCTYPE html>
<html lang="en">
<head>
<!--  <link rel="stylesheet" href= "AboutUsPage.css">-->
    <link rel="stylesheet" href= "../static/WebSytles.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="topnav">

  <nav class="navButton">  <img id="Logo" src="../static/images/Logo.jpg"> </nav>
  <nav class = "navButton"> <a class="MenuItem" href="HomePage.html">Home</a> </nav>
  <nav class = "navButton"> <a class="MenuItem" href="SearchPage.html">Search</a> </nav>
  <nav class="navButton"> <a class="MenuItem" href="TipsPage.html">Tips</a> </nav>
  <nav class="navButton"> <a class="MenuItem" href="AboutUsPage.html">About us</a></nav>
</nav>

<div class="MainPageAboutUs">
  <div class = "coverPhoto"> <img id = "coverDog" src="../static/images/CoverDog.jpg" style="width:100%;"> </div>
    <div class="ContainerAboutUs">
          <div class="AboutUsText">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolor doloribus maxime optio suscipit! Accusamus aut cupiditate deleniti, distinctio eius eum exercitationem id ipsa minima, minus nostrum numquam, obcaecati optio repudiandae sapiente temporibus velit voluptate. Aliquid beatae, consectetur cum cupiditate dicta distinctio, dolor ducimus eaque eos fuga hic illum in iste modi molestiae omnis, perspiciatis provident reiciendis sunt tempora totam ut veritatis voluptatem? Ad, adipisci aliquam atque delectus eaque eius impedit, laborum necessitatibus nemo, nobis nulla optio pariatur provident quaerat qui quis quos reiciendis reprehenderit saepe sed temporibus tenetur vel? Hic perferendis quae voluptatibus. Alias consequuntur et odio omnis? Necessitatibus.</p>
          </div>

     </div>



</div>
</body>
</html>