<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href= "../static/WebSytles.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="topnav">

  <nav class="navButton">  <img id="Logo" src="../static/images/Logo.jpg" alt=""> </nav>
  <nav class = "navButton"> <a class="MenuItem" href="/">Home</a> </nav>
  <nav class = "navButton"> <a class="MenuItem" href="SearchPage">Search</a> </nav>
  <nav class="navButton"> <a class="MenuItem" href="TipsPage">Tips</a> </nav>
  <nav class="navButton"> <a class="MenuItem" href="AboutUsPage">About us</a></nav>
</nav>

<div class="MainPageAboutUs">
  <div class = "coverPhoto"> <img id = "coverDog" src="/static/images/CoverDog.jpg" style="width:100%;"> </div>
    <div class="ContainerAboutUs">
          <div class="AboutUsText">
              <p> Welcome to MyDog, a website all about dogs! Here you'll find all kinds of information about our furry friends, including tips on training, grooming, and healthcare. We're dedicated to providing the best resources for dog owners and lovers everywhere. Thanks for visiting!</p>
          </div>

     </div>



</div>
</body>
</html>