<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href= "HomePage.css">-->
    <link rel="stylesheet" href= "../static/WebSytles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="topnav">

    <nav class="navButton">  <img id="Logo" src="../static/images/Logo.jpg" alt=""> </nav>
    <nav class = "navButton"> <a class="MenuItem" href="HomePage.html">Home</a> </nav>
    <nav class = "navButton"> <a class="MenuItem" href="SearchPage.html">Search</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="TipsPage.html">Tips</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="AboutUsPage.html">About us</a></nav>
</nav>

<div class="MainPageHomePage">
    <h2>It's not just a dog </h2>
    <h2>It's a Friend...</h2>
</div>

</body>
</html>