<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href= "TipsPage.css">-->
    <link rel="stylesheet" href= "../static/WebSytles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <nav class="topnav">

    <nav class="navButton">  <img id="Logo" src="../static/images/Logo.jpg"> </nav>
    <nav class = "navButton"> <a class="MenuItem" href="HomePage.html">Home</a> </nav>
    <nav class = "navButton"> <a class="MenuItem" href="SearchPage.html">Search</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="TipsPage.html">Tips</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="AboutUsPage.html">About us</a></nav>
  </nav>

  <div class="MainPageTips">
    <div class= "HeaderMainPageTips">
    <h1> So how should I handle my dog?</h1>
    </div>
    <div class="Tips">
        <p> &#x2022 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consectetur deleniti doloremque eligendi eos explicabo modi nam nobis nulla numquam obcaecati odit officiis optio quae sed sequi, veritatis voluptatibus! Assumenda autem dolorum eius est laboriosam mollitia praesentium quis repudiandae? Repudiandae.</p>
        <p> &#x2022 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eveniet laboriosam quis rerum sint ut voluptates! Ab adipisci animi architecto at consequatur corporis debitis dolorem doloribus eos et excepturi exercitationem incidunt libero maxime molestias nostrum numquam odit officia omnis perferendis, quaerat quam quis quo repudiandae soluta, sunt suscipit tempora tenetur unde veritatis? Deleniti inventore magnam nemo non. Aperiam at blanditiis dignissimos dolorem itaque nesciunt, quaerat repellat sint veritatis! Et, nihil!</p>
        <p> &#x2022 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, deleniti expedita impedit inventore ipsum nesciunt non optio rerum similique temporibus vitae voluptatibus? Consequuntur delectus est eum inventore, iure minima obcaecati optio, placeat quas quasi reiciendis reprehenderit tempora veniam voluptas voluptates!</p>
        <p> &#x2022 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta dolore enim eos eveniet facere fuga magni maiores maxime nam provident, quis repellat sed tenetur vel! Ab at autem consequuntur cumque et in maxime obcaecati, vel. A, adipisci assumenda aut autem commodi consectetur deserunt dicta eius enim eos ex excepturi fugit hic impedit incidunt inventore laborum minus nam natus nesciunt optio placeat, rem sit unde voluptate! Ad atque consequuntur expedita fuga laboriosam natus reprehenderit soluta? Alias amet earum natus voluptatibus?</p>
        <p> &#x2022 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt molestiae nam neque odit quasi sapiente sed ullam? Eum illum modi nesciunt optio quia quod?</p>
    </div>





  </div>
</body>
</html>