<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="../static/WebSytles.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <nav class="topnav">

    <nav class="navButton"> <img id="Logo" src="../static/images/Logo.jpg"> </nav>
    <nav class="navButton"> <a class="MenuItem" href="/">Home</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="SearchPage">Search</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="TipsPage">Tips</a> </nav>
    <nav class="navButton"> <a class="MenuItem" href="AboutUsPage">About us</a></nav>
  </nav>

  <div class="MainPageTips">
    <div class="HeaderMainPageTips">
      <h1> So how should I handle my dog?</h1>
    </div>
    <div class="Tips">
      <p>Provide them with enough exercise and playtime.</p>
      <p>Train them with positive reinforcement methods.</p>
      <p>Feed them a healthy diet.</p>
      <p>Provide them with a safe and comfortable place to sleep.</p>
      <p>Show them love and affection regularly.</p>
      <p>Keep them groomed and clean.</p>
      <p>Keep them mentally stimulated by providing toys and puzzles.</p>
    </div>
  </div>
</body>

</html>